<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the website, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'ansible_db' );

/** Database username */
define( 'DB_USER', 'ansible_admin' );

/** Database password */
define( 'DB_PASSWORD', 'Nepal123#' );

/** Database hostname */
define( 'DB_HOST', 'localhost' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

define( 'FS_METHOD', 'direct' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'O?X/4G?+4L5iF4AVD;_60a!;q!jV[hN%U>k: A[wYI8~LkIhhna+ nnw0X5TFoz+');
define('SECURE_AUTH_KEY',  'h+(XiAl!]FIQp&BDw1rOh!.TD`D6EN 8<O>x.Yy0Jcw^qfQ]VA5M!_XHd2T@!yGg');
define('LOGGED_IN_KEY',    'bB|#veUO6E+bj+A  y_}:4!]w./y9T|r{0cyzAcVo9*l=p#S`:qAU7@jON%!]~B/');
define('NONCE_KEY',        'ur29Lm?wr{T0m#j+M!vK8(Vpn6n|Tne,!?%#L|FMY5wf0uZ@u4*aQwhzy(GPk0^m');
define('AUTH_SALT',        '*Z,p}yv^>MoM4MfJxElzt%N2?vg?Ch;k~Zr<Q@r+zHVy3I,&gbXh0~#+T-h]Q{/b');
define('SECURE_AUTH_SALT', 'q`B@yx.X-?<;f|Tsw)Lk]qX|Ar^Bi4H;&^${&Zybmo<gN>ea>S0]g4oYhglM0az_');
define('LOGGED_IN_SALT',   'S8*Z8+pY:DX:Mkfe^aqRG5,>g_xC]:[l-@@kH+$F}HNZoj#]-i-]RPP(f@-6k*Hz');
define('NONCE_SALT',       'Hdjy2S#nAA-X< _IRl D[y7#*pc~OzCRF4w]Jge}3yoFk>B$+u5A,iw!XM5Tsl{x');
/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 *
 * At the installation time, database tables are created with the specified prefix.
 * Changing this value after WordPress is installed will make your site think
 * it has not been installed.
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/#table-prefix
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://developer.wordpress.org/advanced-administration/debug/debug-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
